[submodule "submodules/VexRiscv"]
	path = submodules/VexRiscv
	url = git@github.com:SpinalHDL/VexRiscv.git
[submodule "submodules/LIB"]
	path = submodules/LIB
	url = git@github.com:IObundle/iob-lib.git
